/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Hide content visually, but keep it readable for screen readers */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Use system font */
body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

html{
  min-height: 100%;
}

body {
  background: linear-gradient(palegoldenrod, aquamarine);
}

a {
  color: navy;
  text-decoration: none;
}

form > label,
.label,
legend {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: rgba(0,0,0,0.9);
  text-transform: uppercase;
}

.checkbox-label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 0.8em;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.2em;
  padding: 0.5em 0.75em;
  margin-top: 0.25em;
  width: 100%;
}

textarea {
  height: 20em;
  font-size: 16px;
  padding-top: 0.75em;
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex > * {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.flex > *:first-child {
  margin-left: 0;
}
.flex > *:last-child {
  margin-right: 0;
}

form,
.social,
.success {
  max-width: 30em;
  margin: 1em auto;
  padding: 2em 0.5em;
  background: rgba(0,0,0,0.1);
  border-radius: 0.2em;
}

@media (min-width: 60em) {
  form,
  .social,
  .success {
    padding: 2em;
  }
}

fieldset {
  border: 0;
  padding:  0;
  margin:  0 0 1em;
}

button,
.btn {
  border: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.4);
  background-image: linear-gradient(transparent, rgba(0,0,0,0.3));
  color: white;
  text-shadow: 0 1px black;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 2em;
  font-size: 24px;
  border-radius: 0.2em;
  margin: 0 auto;
}

button:hover,
button:focus,
.btn:focus,
.btn:hover {
  background-color: rgba(0,0,0,0.6);
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
}

button:active,
.btn:active {
  background-color: rgba(0,0,0,0.6);
  background-image: linear-gradient(rgba(0,0,0,0.5), transparent);
}

blockquote {
  margin: 0 0 2em;
  font-style: italic;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
}

h1.logo {
  margin: 1rem 1rem 0;
  text-align: center;
}

.logo img {
  max-width: 15rem;
}

.message_salutation {
  font-size: 1rem;
  text-transform: none;
  margin-bottom: 0;
  background: white;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom: 0;
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.5em 0.75em;
  margin-top: 0.25em;
  cursor: not-allowed;
  color: grey;
}

.message_salutation + textarea {
  margin-top: 0;
  border-top: 0;
}

.success form {
  margin: 1em 0;
  padding: 0;
  background: transparent;
}

.recipients-list {
  max-height: 10em;
  max-height: 20vh;
  overflow-y: auto;
}