/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Hide content visually, but keep it readable for screen readers */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.hide {
  display: none !important;
}

/* Use system font */
body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

:root {
  --background: hsla(125, 100%, 93%, 1);
  --accent: hsla(125, 50%, 57%, 1);
  --accentdark: hsla(125, 50%, 42%, 1);
  --warning: hsla(355, 50%, 57%, 1);
  --warningdark: hsla(355, 50%, 42%, 1);
}

html{
  min-height: 100%;
}

body {
  background-color:var(--background);
  background-image:
  radial-gradient(circle at 100% 150%, var(--background) 24%, white 24%, white 28%, var(--background) 28%, var(--background) 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, var(--background) 24%, white 24%, white 28%, var(--background) 28%, var(--background) 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, var(--background) 10%, var(--background) 23%, white 23%, white 30%, var(--background) 30%, var(--background) 43%, white 43%, white 50%, var(--background) 50%, var(--background) 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, var(--background) 5%, var(--background) 15%, white 15%, white 20%, var(--background) 20%, var(--background) 29%, white 29%, white 34%, var(--background) 34%, var(--background) 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, var(--background) 5%, var(--background) 15%, white 15%, white 20%, var(--background) 20%, var(--background) 29%, white 29%, white 34%, var(--background) 34%, var(--background) 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;
  margin: 0;
}

main,
main + aside {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid var(--background);
  border-radius: 0.2em;
  max-width: 30em;
  margin: 1em auto 3em;
  padding: 0 0 1em;
}

a {
  color: var(--accentdark);
  text-decoration: none;
}

form > label,
.label,
legend {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: rgba(0,0,0,0.9);
  font-weight: bold;
}

.label {
  margin: 0 0 0.5em;
}

.checkbox-label {
  display: inline-block;
  margin-bottom: 0.25em;
  border-radius: 0.2rem;
  background-color: var(--background);
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}

.checkbox-label input {
  display: inline-block;
  vertical-align: middle;
  margin: -0.2em 0 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.2em;
  padding: 0.5em 0.75em;
  margin-top: 0.25em;
  width: 100%;
}

input[readonly] {
  background-color: rgba(0,0,0,0.1);
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
}

textarea {
  height: 15em;
  padding-top: 0.75em;
}

li + li {
  margin-top: 1em;
}

.help {
  font-style: italic;
  font-weight: normal;
  color: rgba(0,0,0,0.7);
  font-size: 0.8em;
  display: block;
  margin-top: 0.25rem;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 1em;
}

.gap--small {
  gap: 0.5em;
}

.flex > * {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.flex > *:first-child {
  margin-left: 0;
}
.flex > *:last-child {
  margin-right: 0;
}

.top {
  position: sticky;
  top: 0;
}

form,
.social,
.success {
  margin: 1em auto;
  padding: 0 1em;
}

.success a {
  color: white;
  text-decoration: underline;
}

@media (min-width: 60em) {
  form,
  .social,
  .success {
    padding: 0 2em;
  }
}

.notice {
  padding: 0.5em 1em;
}

.notice.success {
  background-color: var(--accent);
  color: white;
}

.notice.error {
  color: white;
  background-color: var(--warning);
}

fieldset {
  border: 0;
  padding:  0;
  margin: 1em 0;
}

button,
.btn,
summary {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background: var(--accent);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px var(--accentdark);
}

button svg,
.btn svg,
summary svg {
  fill: rgba(0,0,0,0.5);
}

button.warning,
.btn.warning,
summary.warning {
  background: var(--warning);
  border: solid 2px var(--warningdark);
}

button:active,
.btn:active,
summary:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.social {
  margin: 2em 0 1em;
  border-left: 2px solid var(--accent);
}

blockquote {
  margin: 0 0 2em;
  font-style: italic;
  line-height: 1.5;
}

h1, h2 {
  margin-top: 0;
}

.logo {
  margin: 0;
  padding-top: 0.5rem;
  text-align: center;
}

.logo img {
  max-width: 15rem;
  display: block;
  margin: 0 auto;
}

.logo svg {
  max-width: 5em;
  fill: black;
}

@media (min-width: 60em) {
  .logo {
    padding-top: 1rem;
  }
}

hr {
  background-color: rgba(0,0,0,0.1);
  height: 1px;
  border: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.success form {
  margin: 1em 0;
  padding: 0;
  background: transparent;
}

.tpl--edit {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: flex-start;
  justify-content: center;
}

.tpl--edit aside {
  max-width: 15em;
  margin: 1em 0;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid var(--background);
  padding: 1em;
}

.tpl--edit aside h2 {
  margin-bottom: 1rem;
}

.tpl--edit aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tpl--edit aside li {
  padding: 0.5em 0;
}

.tpl--edit aside li.active {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--accent);
}

.tpl--edit aside li.active a {
  color: white;
}

.tpl--edit aside form {
  padding: 0;
}

.tpl--edit main {
  max-width: 40em;
  margin: 1em 0 3em;
}

.tpl--edit label > span:first-child {
  font-size: 0.8em;
  display: block;
  font-weight: bold;
  margin: 0;
}

.tpl--edit textarea {
  margin-top: 0.25em;
}

.tpl--edit label + label {
  display: block;
  margin-top: 1em;
}

.tpl--edit legend {
  font-size: 1.5em;
  padding: 0;
}

.recipients {
  counter-reset: recipients;
}

.recipient--template {
  display: none;
}

.recipient {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin: 0;
  padding-left: 2em;
  position: relative;
}

.recipient::before {
  position: absolute;
  top: -0.1em;
  left: 0;
  width: 1.5em;
  text-align: center;
  color: var(--accent);
  counter-increment: recipients;
  content: counter(recipients);
}

.recipient + .recipient {
  margin-top: 1.5em;
}

.recipient label + label {
  margin: 0;
}

.recipient label:last-child {
  grid-column: span 2;
}

button[data-action="add_recipient"] {
  margin-left: 2em;
  margin-top: 1.5em;
}

details[open] summary {
  display: none;
}

summary {
  cursor: default;
  padding: 0.25em 0.75em;
  font-size: 0.8em;
}

summary::marker {
  display: none;
  content: '';
}

.logo-preview {
  display: block;
  width: 50%;
  margin: 0.25em 0;
}

main + aside {
  padding: 1em 2em;  
}

pre {
  font-size: 0.8em;
  font-family: monospace;
  white-space: normal;
  word-break: break-all;
}

.listing {
  text-align: center;
  padding: 0;
  list-style: none;
}

.listing li {
  margin-bottom: 1em;
}

.listing img {
  width: 10em;
}

.listing strong,
.listing img,
.listing span {
  display: block;
  margin: 0.5em auto;
}

.listing .btn {
  display: inline-block;
}

